h2 {
    text-decoration: underline;
    font: lighter;
}

div {
    display: flex;
}

.gener {
    color: white;
    background-color: black;
    border-radius: 20%;
}


i {
    padding: 15px;
}

.copy {
    border: none;
    padding-left: 40px;
    background-color: white;
}
